version: '3.8'

services:
    master:
        image: map_reduce:{{ MAP_REDUCE_IMG_TAG }}
        container_name: master
        build:
            context: .
        volumes:
            - ~nfs:/nfs
        networks:
            cluster:
              ipv4_address: {{ MASTER_ADDRESS }}
        expose:
          - 50051
        tty: true
        command: bash -c "mv -f /build/master /nfs/master && mv -f /build/worker /nfs/worker && ./master {{ EUCALYPT_BACKEND_ADDRESS }}:{{ EUCALYPT_GRPC_PORT }}"
    {% for i in range(1, WORKER_REPLICAS+1) %}
    worker-{{ i }}:
        image: map_reduce:{{ MAP_REDUCE_IMG_TAG }}
        container_name: worker-{{ i }}
        volumes:
            - ~nfs:/nfs
        networks:
            cluster:
        expose:
          - {{ WORKER_PORT }}
        depends_on:
          - "master"
        tty: true
        command: bash -c "./worker --master-address {{ MASTER_ADDRESS }}:{{ MASTER_PORT }} --port {{ WORKER_PORT }}"
    {% endfor %}
    user:
        image: map_reduce:{{ MAP_REDUCE_IMG_TAG }}
        container_name: user
        volumes:
            - ~nfs:/nfs
        networks:
            cluster:
        depends_on:
          - "master"
        tty: true
        command: bash -c "mv -f /build/sample /nfs/sample && sleep 3000"

    eucalypt_backend:
        image: eucalypt_backend:{{ EUCALYPT_BACKEND_IMG_TAG }}
        container_name: eucalypt_backend
        volumes:
            - ~nfs:/nfs
        networks:
            cluster:
                ipv4_address: {{ EUCALYPT_BACKEND_ADDRESS }}
    eucalypt_frontend:
        image: eucalypt_frontend:{{ EUCALYPT_FRONTEND_IMG_TAG }}
        container_name: eucalypt_frontend
        networks:
            cluster:
                ipv4_address: {{ EUCALYPT_FRONTEND_ADDRESS }}

networks:
    cluster:
        driver: bridge
        ipam:
            driver: default
            config:
              - subnet: {{ CLUSTER_SUBNET }}

