DB_LINK={{ DB_LINK }}
JWT_SECRET={{ JWT_SECRET }}

APP_URL_CLIENT=http://{{ EUCALYPT_FRONTEND_ADDRESS }}:{{ EUCALYPT_FRONTEND_PORT }}
APP_URL_API=http://{{ EUCALYPT_BACKEND_ADDRESS }}:{{ EUCALYPT_BACKEND_PORT }}
MASTER_URL={{ MASTER_ADDRESS }}:{{ MASTER_PORT }}

{% if PROTO_PATH %}
PROTO_PATH={{ PROTO_PATH }}
{% endif %}
